

a[href*="github.com"] {
    background: url(https://github.githubassets.com/favicons/favicon.png) no-repeat center left;
}

a[href*="github.com"] + a,
a[href*="github.com"] {
    padding: 0.4em 0.4em 0.4em 1.3em;
    background-size: 1em;
    margin: 0.3em;
    display: inline-block;
    margin-left: 50%;
    translate: -50%;
}

.bold {
    font-weight: bold;
}

.black {
    color: #000000;
}
.brightblue {
    color: #0000FF;
}
.darkgreen {
    color: #006600;
}
.lightgreen {
    color: #009900;
}
.blue {
    color: #3333FF;
}
.lightblue {
    color: #3366FF;
}
.mustard {
    color: #808000;
}
.darkred {
    color: #990000;
}
.burgundy {
    color: #990033;
}
.darkgrey {
    color: #9C9C9C;
}
.lightgrey {
    color: #CFCFCF;
}
.red {
    color: #CC0000;
}
.tangerine {
    color: #CC6600;
}
.lilac {
    color: #CC66CC;
}
.olive {
    color: #CCCC00;
}
.neon {
    color: #FF00FF;
}
.pink {
    color: #FF6666;
}
.yellow {
    color: #FFCC00;
}
.peach {
    color: #FFCC99;
}
.lightyellow {
    color: #FFFFCC;
}
.offwhite {
    color: #FFFFFC;
}
